@import "./../../settings/settings-shadows";

.recipe-card {
    display: grid;
    width: 280px;
    margin: 10px auto;
    grid-template-rows: 110px 150px;
    border: 2px solid map-get($colors, secondary-300);
    border-radius: 10px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    height: 220px;
    @include desktop {
        margin: 10px 5px;
    }
    &__description {
        display: flex;
        flex-direction: column;
        justify-items: end;
        padding-top: 10px;
        h4 {
            margin: 0;
            font-size: 12px;
        }
        p {
            font-size: 10px;
        }
        a:hover {
            text-decoration: underline;
        }
    }

    &__heading {
        display: grid;
        grid-template-columns: 208px 68px;
        justify-content: space-around;
        &__img {
            width: 180px;
            max-height: 110px;
            img {
                width: 180px;
                max-height: 110px;
                object-fit: cover;
            }
        }
    }
    &__statistic {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .icon {
            display: flex;
            align-items: center;
            p {
                margin: 0 0 0 10px;
                font-size: 10px;
            }
            img {
                width: 10px;
                height: 10px;
            }
        }
    }
    &:hover {
        border: 2px solid map-get($colors, yellow-100);
    }
}
