.recipes {
    background-color: #fff6bb;
    .category-items {     
        margin: 0 auto;
        padding: 5px 0;
        width: 50%;
        padding-bottom:30px;
       
        a {            
            text-decoration: none;
            list-style: none;
            color:rgb(117, 147, 2);
            transition: color 0.5s ease-out;
            &:hover{
                color: rgb(60, 9, 1);
                text-decoration: underline;
            }
        
            .category-item{
               text-align: center;
               &:hover{
                   background-color: #f0d57c;
                   
               }
            
           }
        }
    } 
}
.active{   
     color: rgb(60, 9, 1)!important;
  
     
}
