@import "../../styles/settings/settings-colors";
.input{  
    
    display: flex;
    justify-content: space-between;
    width: 300px;
    color:map-get($colors, secondary-200);
    font-weight: bold;
    margin:20px 0;
    input{
        background-color: map-get($colors,primary-400);
        border:none;
        outline: none;
         border-bottom:1px solid map-get($colors, secondary-200);
         color:map-get($colors, secondary-200);
    
    }
    ::placeholder {
        color:map-get($colors, secondary-200);
        opacity: 0.5;
      }
}