/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  height: 100%;
  overflow: auto;
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
  min-height: 100%;
  overflow: auto;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

html,
* {
  font-family: "Lato", sans-serif;
}

body,
html {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

a,
button {
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 16px;
}

a {
  font-weight: 600;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

button {
  font-weight: 800;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}

h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
}

h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}

h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;
}

.centered-container {
  width: 90%;
  margin: 0 auto;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes app-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes app-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.u-fade-in {
  opacity: 0;
  -webkit-animation: fade-in 3s forwards 1 ease-out;
          animation: fade-in 3s forwards 1 ease-out;
}

.u-fade-in--delay-100 {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.u-fade-in--delay-200 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.u-fade-in--delay-300 {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.u-fade-in--delay-400 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.u-fade-in--delay-500 {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.u-fade-in--delay-600 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.u-fade-in--delay-700 {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}

.u-fade-in--delay-800 {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

.u-fade-in--delay-900 {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

.u-fade-in--delay-1000 {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

.u-fade-in--delay-1100 {
  -webkit-animation-delay: 1100ms;
          animation-delay: 1100ms;
}

.u-fade-in--delay-1200 {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}

.u-fade-in--delay-1300 {
  -webkit-animation-delay: 1300ms;
          animation-delay: 1300ms;
}

.u-fade-in--delay-1400 {
  -webkit-animation-delay: 1400ms;
          animation-delay: 1400ms;
}

.u-fade-in--delay-1500 {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

.u-fade-in--delay-1600 {
  -webkit-animation-delay: 1600ms;
          animation-delay: 1600ms;
}

.u-fade-in--delay-1700 {
  -webkit-animation-delay: 1700ms;
          animation-delay: 1700ms;
}

.u-fade-in--delay-1800 {
  -webkit-animation-delay: 1800ms;
          animation-delay: 1800ms;
}

.u-fade-in--delay-1900 {
  -webkit-animation-delay: 1900ms;
          animation-delay: 1900ms;
}

.u-fade-in--delay-2000 {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    -webkit-animation: app-logo-spin infinite 20s linear;
            animation: app-logo-spin infinite 20s linear;
  }
}

.u-centered {
  text-align: center;
}

.btn {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 5px 20px;
  text-transform: uppercase;
  font-family: 'Indie-Flower', cursive;
}

.btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.btn--card {
  width: 60px;
  padding: 2px 0;
  font-size: 10px;
  background: #759302;
  border: 1px solid #759302;
  color: #fcfcd6;
  text-decoration: none;
  text-align: center;
}

.btn--recipe {
  background: #759302;
  border: 1px solid #759302;
  color: #fcfcd6;
  text-decoration: none;
  text-align: center;
  width: 215px;
}

@media (min-width: 840px) {
  .btn--recipe {
    background: #fcfcd6;
    border: 1px solid #759302;
    color: #759302;
    height: 35px;
    text-decoration: none;
    padding: 10px 30px;
    width: 150px;
  }
}

.btn--main {
  display: none;
}

@media (min-width: 840px) {
  .btn--main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 4px;
    background: black;
    color: #759302;
    border: 1px solid #759302;
    border-radius: 5px;
    padding: 8px 16px;
    text-decoration: none;
    margin: 0;
    -webkit-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
  }
}

.btn--main:hover {
  color: #759302;
  border: 1px solid #759302;
  text-decoration: underline;
}

.header-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 300px;
      grid-template-rows: 300px;
  background-color: #fff6bb;
  position: relative;
}

.header-wrapper .dropdown {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  width: 100%;
  text-align: -webkit-center;
  position: relative;
  bottom: 367px;
  left: 0;
  background: #100e09;
  opacity: 0.95;
  height: auto;
}

@media (min-width: 840px) {
  .header-wrapper .dropdown {
    display: none;
  }
}

.header-wrapper .dropdown__items {
  padding: 0;
  height: 300px;
}

.header-wrapper .dropdown__items a {
  text-decoration: none;
}

.header-wrapper .dropdown__item {
  list-style: none;
  padding: 17px;
}

.header-wrapper .dropdown__item span {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff6bb;
  font-weight: 100;
}

.header-wrapper .dropdown__item .green {
  color: #8aa327fa;
}

.header-wrapper .dropdown__item:hover {
  background-color: #070603;
}

.header-wrapper .toggle {
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 2;
  cursor: pointer;
}

@media (min-width: 840px) {
  .header-wrapper .toggle {
    display: none;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes app-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
  background-color: #fff6bb;
  position: relative;
}

@media (min-width: 840px) {
  .navbar {
    -ms-grid-columns: 60% 40%;
        grid-template-columns: 60% 40%;
    padding: 20px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.navbar__item {
  display: inline-block;
  text-align: center;
  padding: 17px;
}

@media (min-width: 840px) {
  .navbar__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    height: 45px;
    padding: 0 20px;
  }
  .navbar__item:hover {
    background: none !important;
  }
}

.navbar__items {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 360px;
}

@media (min-width: 840px) {
  .navbar__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    opacity: 0.8;
    top: 246px;
    height: 60px;
  }
  .navbar__items a {
    text-decoration: none;
    text-transform: uppercase;
    color: #759302;
    padding: 18px;
    font-size: 16px;
    -webkit-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
  }
}

@media (min-width: 840px) and (min-width: 840px) {
  .navbar__items a {
    padding: 0;
  }
}

@media (min-width: 840px) {
  .navbar__items a:hover {
    cursor: pointer;
    color: #3C0901;
    text-decoration: underline;
  }
}

.navbar .toggle {
  display: inline-block;
  position: absolute;
  top: left;
  right: 10px;
  bottom: 335px;
}

@media (min-width: 840px) {
  .navbar .toggle {
    display: none;
  }
}

.search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff6bb;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

@media (min-width: 840px) {
  .search-box {
    margin-top: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    border-radius: 40px;
    background-color: #fff6bb;
  }
}

.search-box__search-image {
  display: inline-block;
  width: 20px;
  height: 20px;
}

@media (min-width: 840px) {
  .search-box__search-image {
    display: inline-block;
    width: 20px;
    height: 20px;
  }
}

.search-box__search-image:hover {
  width: 22px;
  height: 22px;
}

.search-box__search-txt {
  width: 300px;
  padding: 0 5px;
  border: 1px solid #759302;
  border-radius: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 5px;
  padding-left: 20px;
  background-color: #fcfcd6;
  color: #759302;
  outline: none;
  font-size: 16px;
  line-height: 35px;
}

.search-box__search-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes app-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
  background-color: #fff6bb;
  position: relative;
}

@media (min-width: 840px) {
  .navbar {
    -ms-grid-columns: 60% 40%;
        grid-template-columns: 60% 40%;
    padding: 20px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.navbar__item {
  display: inline-block;
  text-align: center;
  padding: 17px;
}

@media (min-width: 840px) {
  .navbar__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    height: 45px;
    padding: 0 20px;
  }
  .navbar__item:hover {
    background: none !important;
  }
}

.navbar__items {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 360px;
}

@media (min-width: 840px) {
  .navbar__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    opacity: 0.8;
    top: 246px;
    height: 60px;
  }
  .navbar__items a {
    text-decoration: none;
    text-transform: uppercase;
    color: #759302;
    padding: 18px;
    font-size: 16px;
    -webkit-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
  }
}

@media (min-width: 840px) and (min-width: 840px) {
  .navbar__items a {
    padding: 0;
  }
}

@media (min-width: 840px) {
  .navbar__items a:hover {
    cursor: pointer;
    color: #3C0901;
    text-decoration: underline;
  }
}

.navbar .toggle {
  display: inline-block;
  position: absolute;
  top: left;
  right: 10px;
  bottom: 335px;
}

@media (min-width: 840px) {
  .navbar .toggle {
    display: none;
  }
}

.search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff6bb;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

@media (min-width: 840px) {
  .search-box {
    margin-top: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    border-radius: 40px;
    background-color: #fff6bb;
  }
}

.search-box__search-image {
  display: inline-block;
  width: 20px;
  height: 20px;
}

@media (min-width: 840px) {
  .search-box__search-image {
    display: inline-block;
    width: 20px;
    height: 20px;
  }
}

.search-box__search-image:hover {
  width: 22px;
  height: 22px;
}

.search-box__search-txt {
  width: 300px;
  padding: 0 5px;
  border: 1px solid #759302;
  border-radius: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 5px;
  padding-left: 20px;
  background-color: #fcfcd6;
  color: #759302;
  outline: none;
  font-size: 16px;
  line-height: 35px;
}

.search-box__search-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer {
  background: #5a6b01;
  text-align: center;
  height: 100%;
  color: #fff6bb;
}

.page-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 400px 1fr 100px;
      grid-template-rows: 400px 1fr 100px;
  width: 100%;
}

.intro {
  background-image: url(../../../assets/images/intro-image.jpg);
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.intro h3 {
  padding-top: 13px;
  margin: 0;
  color: #e2d3a0;
  font-size: 26px;
}

.intro p {
  padding: 0;
  margin: 0;
  color: #e2d3a0;
}

.intro .logo {
  position: absolute;
  top: 230px;
  padding-left: 10px;
}

@media (min-width: 840px) {
  .intro .logo {
    display: inline-block;
    padding-left: 25px;
    width: 50%;
    top: 120px;
  }
  .intro .logo h3 {
    font-size: 26px;
  }
  .intro .logo p {
    padding-top: 10px;
  }
}

.intro .logo .app-logo {
  top: 15px;
  left: 120px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}

@media (min-width: 840px) {
  .intro .logo .app-logo {
    top: 17px;
    left: 135px;
  }
}

.hide {
  display: none;
}

.header-btn {
  position: absolute;
  display: none;
}

@media (min-width: 840px) {
  .header-btn {
    position: absolute;
    top: 75%;
    left: 2%;
    width: 190px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 16px;
  }
  .header-btn a {
    text-decoration: none;
  }
}

.main-wrapper {
  background-color: #fff6bb;
}

.category-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: 0 auto;
  position: relative;
  margin-top: 10px;
  border: 2px solid #8aa327fa;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-bottom: 20px;
}

.category-card__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
}

@media (min-width: 840px) {
  .category-card__img {
    height: 300px;
  }
}

.category-card__img img {
  -o-object-fit: cover;
     object-fit: cover;
}

.category-card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fcfcd6;
}

@media (min-width: 840px) {
  .category-card__info {
    min-height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.category-card__info p,
.category-card__info h4 {
  margin-bottom: 20px;
}

.category-card__info h4 {
  color: #8aa327fa;
  font-size: 16px;
}

.category-card__info__statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
}

@media (min-width: 840px) {
  .category-card__info__statistic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
  }
}

.category-card__info__statistic p {
  font-size: 12px;
}

.category-card__info__statistic span {
  font-size: 14px;
  font-weight: bold;
}

.category-card__info .icon {
  margin-right: 10px;
  text-align: center;
}

@media (min-width: 840px) {
  .category-card__info .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .category-card__info .icon p {
    margin: 0 0 0 10px;
  }
}

.category-card__info .icon img {
  width: 20px;
  height: 20px;
}

.category-card .heading p {
  text-align: left;
  font-size: 14px;
  margin-top: 0;
}

.category-card .heading h3 {
  font-size: 16px;
}

.recipe-card {
  display: -ms-grid;
  display: grid;
  width: 280px;
  margin: 10px auto;
  -ms-grid-rows: 110px 150px;
      grid-template-rows: 110px 150px;
  border: 2px solid #8aa327fa;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  height: 220px;
}

@media (min-width: 840px) {
  .recipe-card {
    margin: 10px 5px;
  }
}

.recipe-card__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: end;
  padding-top: 10px;
}

.recipe-card__description h4 {
  margin: 0;
  font-size: 12px;
}

.recipe-card__description p {
  font-size: 10px;
}

.recipe-card__description a:hover {
  text-decoration: underline;
}

.recipe-card__heading {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 208px 68px;
      grid-template-columns: 208px 68px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.recipe-card__heading__img {
  width: 180px;
  max-height: 110px;
}

.recipe-card__heading__img img {
  width: 180px;
  max-height: 110px;
  -o-object-fit: cover;
     object-fit: cover;
}

.recipe-card__statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.recipe-card__statistic .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recipe-card__statistic .icon p {
  margin: 0 0 0 10px;
  font-size: 10px;
}

.recipe-card__statistic .icon img {
  width: 10px;
  height: 10px;
}

.recipe-card:hover {
  border: 2px solid #e9db1bfa;
}

.recipes-wrapper {
  background-color: #fff6bb;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
}

.recipes-wrapper__message {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  font-family: 'Indie-Flower', cursive;
  font-size: 20px;
  color: #5a6b01;
  padding-top: 20px;
  padding-bottom: 30px;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .recipes-wrapper {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
}

@media (min-width: 840px) {
  .recipes-wrapper {
    -ms-grid-columns: 33% 33% 33%;
        grid-template-columns: 33% 33% 33%;
  }
  .recipes-wrapper span {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
}

@media (min-width: 1200px) {
  .recipes-wrapper {
    -ms-grid-columns: 25% 25% 25% 25%;
        grid-template-columns: 25% 25% 25% 25%;
  }
  .recipes-wrapper span {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
  }
}

.recipes {
  background-color: #fff6bb;
}

.recipes .category-items {
  margin: 0 auto;
  padding: 5px 0;
  width: 50%;
  padding-bottom: 30px;
}

.recipes .category-items a {
  text-decoration: none;
  list-style: none;
  color: #759302;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.recipes .category-items a:hover {
  color: #3c0901;
  text-decoration: underline;
}

.recipes .category-items a .category-item {
  text-align: center;
}

.recipes .category-items a .category-item:hover {
  background-color: #f0d57c;
}

.active {
  color: #3c0901 !important;
}
/*# sourceMappingURL=main.css.map */