@import "../../../styles/settings/settings-colors";
@import "../../../styles/settings/settings-shadows";
@import "../../../styles/settings/settings-breakpoints";

.cook-card {
    background-color:map-get($colors, primary-100) ;
    display: grid;
    grid-template-columns: 41% 25%;  
    align-items: center;
    border: 2px solid map-get($colors, secondary-300);
    border-radius: 5px;
    box-shadow: $secondary-shadow;
    width: 280px;
    height: 100px;
    justify-content: space-around;
    &:hover {
        border: 2px solid map-get($colors, yellow-100);
    }

    p {
        color: map-get($colors, secondary-200);
    }
    
    .icon {
        height: 64px;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: space-between;
        img {
            width: 30px;
            box-shadow: $secondary-shadow;
        }
    }
}
