@import "../../styles/settings/settings-colors";
.btn--submit{
    width:max-content;
    background-color: map-get($colors,secondary-200 );
    color:map-get($colors, primary );
    align-self: center;
    margin:10px 0;
}