@import "../settings/settings-colors";
.header-wrapper {
    display: grid;
    grid-template-rows: 300px;
    align-items: center;
    background-color: map-get($colors, primary);   
    .dropdown {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        text-align: -webkit-center;
        position: relative;
        bottom: 300px;
        left: 0;
        background: #100e09;
        opacity: 0.95;
        height: 300px;
       
        @include desktop {
            display: none;
        }
        &__items {
            padding: 0;
            a{
                text-decoration: none;
                &:nth-child(6) span,
                &:nth-child(7) span {
                    color: map-get($colors, secondary-400);
                }
            }
        }
        &__item {
            list-style: none;
            padding: 14px;           
            span {
                text-decoration: none;
                text-transform: uppercase;
                color: #fff6bb;
                font-weight: 100;
            }

            &:hover {
                background-color: #070603;
            }
        }
    }
    .toggle {
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 15px;
        z-index: 2;
        cursor: pointer;
        @include desktop {
            display: none;
        }
    }
}

    

