@import "../../../styles/settings/settings-colors";
@import "../../../styles/settings/_settings-breakpoints";

.search-box {
    display: flex;
    margin-top: 20px;
    background-color: #fff6bb;  
    align-items: center;
    @include desktop {
        margin-top: 0;
        justify-content: end;
        border-radius: 40px;
        background-color: #fff6bb;
        width: 90%;
    }

    &__search-category {
        background-color: map-get($colors, primary);
        border: none;
        outline: none;
        text-align-last: right;      
        color: map-get($colors, secondary);     
       }

    &__search-image {
        display: inline-block;
        width: 20px;
        height: 20px;
        @include desktop {
            display: inline-block;
            width: 20px;
            height: 20px;
        }
        &:hover {
            cursor: pointer;
        }
    }
    &__search-txt {
        width: 200px;
        padding: 0 5px;
        border: 1px solid map-get($colors, secondary );;
        border-radius: 50px;
        align-self: center;
        margin-right: 5px;
        padding-left: 20px;      
        color: map-get($colors, bordeaux );
        outline: none;
        font-size: 12px;
        line-height: 30px;     
        background: linear-gradient(90deg, rgba(248,249,122,1) 0%, rgba(221,237,87,0.9976365546218487) 36%, rgba(180,242,103,0.6867121848739496) 75%);
        @include desktop {
            width: 260px;
            font-size: 15px;
        }
    }
    &__search-button {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    option{
        font-size: 12px;
        @include desktop {            
            font-size: 15px;
        }
    }
    option:first-of-type {
        display: none;      
      }
}

