.u-fade-in {
    opacity: 0;
    animation: fade-in 3s forwards 1 ease-out;

    $i:100;
    @while $i < 2100{
        &--delay-#{$i}{
            animation-delay: #{$i}ms;
        }
        $i: $i+100;
    }
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

